        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Home</a></li>
        </ul>
        {% if current_user.is_authenticated %}
            <div class="text-end">
              <a href="{{ url_for('logout') }}" class="btn btn-outline-light me-2">Logout</a>
            </div>
        {% else %}
            <div class="text-end">
              <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Login</a>
              <a href="{{ url_for('register') }}" class="btn btn-outline-light me-2">Register</a>
            </div>
        {% endif %}